#home {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(105deg, transparent 70%, #D9D9D9 20%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    visibility: visible;
    gap: 5px;
    font-size: 25px;
    padding: 20px;
    margin: 20px 50px;
}

nav > *:hover {
    transform: scale(1.05);
}