:root {
    --ellipse-width: 245px;
    --ellipse-height: 242px;
    --ellipse-left: 331px;
    --ellipse-top: 12px;

    --rectangle-width: 465px;
    --rectangle-height: 128px;
    --rectangle-left: 41px;
    --rectangle-top: 142px;

    --triangle-border-left-right: 110px;
    --triangle-border-bottom: 181.865334px;
    --triangle-left: 383px;
    --triangle-top: 180px;
    --triangle-size: 210px;

    --font-size: 24px;
    --line-height: 58px;
    --font-padding-left: 50px;

    --scale: 1;
    --left-unpad: 0px;
}

.logo {
    width: calc(600px / var(--scale));
    height: calc(400px / var(--scale));
}

#ellipse {
    position: absolute;
    width: calc(var(--ellipse-width) / var(--scale));
    height: calc(var(--ellipse-height) / var(--scale));
    top: calc(var(--ellipse-top) / var(--scale));
    left: calc((var(--ellipse-left) / var(--scale)) - (var(--left-unpad) / 1.5));
    border-radius: 50%;

    background: var(--secondary-colour);
    transition: 200ms;
}

#ellipse:hover {
    transform: scale(1.25);
}

#rectangle {
    position: absolute;
    width: calc((var(--rectangle-width) / var(--scale)) - var(--left-unpad));
    height: calc(var(--rectangle-height) / var(--scale));
    top: calc(var(--rectangle-top) / var(--scale));
    left: calc(var(--rectangle-left) / var(--scale));
    font-size: calc(var(--font-size) / var(--scale));
    line-height: calc(var(--line-height) / var(--scale));
    padding-left: calc(var(--font-padding-left) / var(--scale));

    background: var(--main-colour);
    color: #000000;
    font-weight: 700;
    box-sizing: border-box;
    transition: 200ms;
}

#rectangle:hover {
    transform: translateX(20px);
}

#triangle {
    position: absolute;
    width: calc(var(--triangle-size) / var(--scale));
    height: calc(var(--triangle-size) / var(--scale));
    left: calc((var(--triangle-left) / var(--scale)) - var(--left-unpad));
    top: calc(var(--triangle-top) / var(--scale));
    border-left: calc(var(--triangle-border-left-right) / var(--scale)) solid transparent;
    border-right: calc(var(--triangle-border-left-right) / var(--scale)) solid transparent;
    border-bottom: calc(var(--triangle-border-bottom) / var(--scale)) solid var(--contrast-colour);
    box-sizing: border-box;
    transition: 200ms;
}

#triangle:hover {
    transform: rotate(40deg);
}

/* Small logo */
.small {
    --scale: 2;
    --left-unpad: calc((var(--rectangle-width) / var(--scale)) / 1.4);
}

@media only screen and (max-width: 600px) {
    :root {
        --scale: 1.5;
    }
}